body
{
    overflow-x: hidden;
}
#navigation
{
    height: 120px;
    background-color: black;
    color:white;
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight:bolder;
}

#navigation div
{

    margin:9px;
    justify-content: space-evenly;
    /*line-height: 100px;*/
    color: white;
    flex-wrap: wrap;
}


#navigation a
{
    text-decoration: none;
    color:white;
    
}

#navigation a:hover
{
    text-decoration: underline;
}

#home
{
    position: absolute;
    top:36px;
    left:18%;
   /* margin-left: 100px;*/
}

#favourites
{
    position: absolute;
    top:36px;
    left:28%;
   /* margin-left: 100px;*/
}


#search-box
{
    position: absolute;
    height: 20px;
    top:50px;
    left:45%;
    width: 20%;
   /* margin-left: 100px;*/
}

#button
{
    position: absolute;
    background-color: rgb(10, 16, 182);
    color: white;
    height: 30px;
    top:45px;
    left:70%;
    width: 8%;
    /*line-height: 20px;*/

    
    font-size: 15px;
    font-weight: bolder;
}

#user img
{
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}


.content
{
    @media  screen and (max-width:1000px) {
        display: block;
    }
    display: flex;
    color:white;
    height: auto;
    background-color: black;
}

.main-content
{
    @media  screen and (max-width:1000px) {
        width: 100%;
    }
    width: 70%;
    height: auto;
    background-color:black;
}

.queue
{
    @media  screen and (max-width:1000px) {
        width: 100%;
    }
    width: 30%;
    height: auto;
    background-color: rgb(31, 3, 114);
}

.queue-songs
{
    height: auto;
    padding: 2px;
    width: 100%;
    background-color: rgb(31, 3, 114);
}

.queue-songs a
{
    color: white;
    text-decoration: none;
}

.queue-songs a:hover
{
    text-decoration: underline;
}


.song1
{

    height: 100px;
    display: flex;
    margin:2px;
    padding: 6px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

.song-details
{
    margin: 36px;
}

.play-sign
{

   margin-top: 8%;
   margin-left: 30%;
}

.main-images
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-images div img
{
    flex-shrink: 1;
    flex-shrink: 1;
}

.artists-details a
{
    color: white;
    text-decoration: none;
}

.best-songs-details a
{
    color: white;
    text-decoration: none;
}

.artists-details a:hover
{
    text-decoration: underline;
}

.best-songs-details a:hover
{
    text-decoration: underline;
}


.player {
	width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.player-image
{
    margin-left: 10px;
    margin-top: 10px;
}

.player-name
{
    margin-top: 10px;
    margin-left: 10px;
}
/* controls is the container for all the center controls of the player */

.controls-sign 
{
    font-size: 30px;
    margin-left:50px;
}

.controls-sign i
{
    margin: 10px;
}
.controls div
{
    margin:4px;
}

#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}

#player-main
{
    color: white;
    text-decoration: none;
}
/*
::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }*/

::-webkit-scrollbar {
    width: 10px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
     border-radius: 10px;
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    width: 5px;
     border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .best-songs::-webkit-scrollbar {
    width: 6px;
  }
  

.heading-hover:hover
{
    text-decoration: underline;
}